{% extends "base.html" %}

{% load bootstrap3 %}

{% block title %}
    <title>Verificacao Form</title>
{% endblock title %}

{% block content %}

    <h1>Medidor</h1>
    <aside role="complementary" class="col-md-4 col-md-pull-0">
		</ul>
		<br>
		 <div class="list-group">
        <a href="#" class="list-group-item active">
            Cadastros
        </a>
        <a href="/verificacao_form_adm" class="list-group-item">
            <span></span> Administrativo
        </a>
        <a href="/verificacao_form_medidor" class="list-group-item disabled">
            Medidor
        </a>
        <a href="#" class="list-group-item active">
            Procedimentos de Verifica&ccedil;&atilde;o
        </a>
        <a href="Requisitos Administrativos" class="list-group-item">
            Requisitos Administrativos 
              </a>
        <a href="/verificacao_requisitostecnicos" class="list-group-item">
            Requisitos T&eacute;cnicos
        </a>
        <a href="/verificacao_requisitosmetrologicos" class="list-group-item">
            Requisitos Metrol&oacute;gicos
        </a>
    </div>
	    </aside>
    <form class="form col-sm-4" method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Proximo >></button>
        {% endbuttons %}
    </form>

{% endblock content %}